1-Tom/train/src/01_data_preparation/01_01/result
1-Tom/train/src/01_data_preparation/01_01/result_v1
1-Tom/train/src/01_data_preparation/01_02/result
1-Tom/train/src/01_data_preparation/01_02/result_v1
1-Tom/train/src/02_train/result
1-Tom/train/src/02_train/result_v1
